{% for producto in productos %}
            <article class="conteiner_card">
                <div class="header_card">
                    <img src="{{producto.imagen.url}}" alt="{{producto.nombre}}">
                </div>
                <div class="footer_card">
                    <h2 class="card_nombre">{{producto.nombre}}</h2>
                    <h2 class="card_precio">{{producto.precio}}</h2>
                    <div class="card_btns">
                        <p>¡Hasta 12 cuotas fijas!</p>
                        <div class="ver_mas" id = {{producto.id}}><span>VER MAS</span></div>
                    </div>
                </div>
            </article>
            {% endfor %}