
.conteiner-productos{
    width: 100%;
}

.conteiner-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    & h2{
        color: white;
    }
    
}
.productos{
    display: flex;
    flex-wrap: wrap;
    gap: wrap;
    gap: 10px;
    justify-content: center;
    flex-direction: row;
}
.conteiner_card{
    border: 1px solid rgb(126, 126, 126);
    border-radius: 10px;
    overflow: hidden;
    background-color: #161616;
    width: 220px;
    .header_card{
        background-color: white;
        height: 180px;
        text-align: center;
        & img{
            height: 100%;
        }
    }
}
.card_nombre{
    text-align: center;
    display: block;
    font-size: 15px;
    font-weight: 100;
    margin-top: 5px;
    height: 40px;
}
.card_precio{
    font-size: 20px;
    font-family: oswald;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}
.card_btns{
    margin: 10px 25px 30px 25px;
    & p{
        color: white;
        border: 1px solid #00d5ff;
        font-weight: 100;
        font-size: 12px;
        text-align: center;
        padding: 5px 0;
    }
    & .ver_mas{
        color: white;
        background-color:#00d5ff ;
        font-weight: 100;
        font-size: 12px;
        text-align: center;
        padding: 5px 0;
        margin-top: 10px;
        & span{
            text-shadow: 12px 13px 13px 31px black;
        }
    }
}

/*Estilos de los filtros */

.section_filtros{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.filtros-conteiner{
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    outline: solid;
    outline-color: #00d5ff25;
    outline-offset: 5px;
    outline-width: 1px;
    outline-style: hidden;
    & option{
        background-color: #ffffff;
        color: #000000;
        outline: none;
    }
}