{% extends 'layouts/base.html'%}
{% load static %}
{% block estilos%}
    <link rel="stylesheet" href="{% static 'css/productos.css'%}">
{%endblock%}
{% block titulo%}Productos {% endblock%}

{% block contenido%}
{% csrf_token %}
<div class="conteiner-productos">
    <section class="conteiner-cards">    
        <h2>Productos</h2>    
        <section class="section_filtros">
            <select name="filtro_categoria" id="filtro_categoria" class="filtros-conteiner">  
                <option value="Filtrar por Categoria">Filtrar por Categoria</option>
                {% for categoria in categorias%}
                    <option value="{{categoria.nombre}}">{{categoria.nombre}}</option>
                {% endfor %}
            </select>
            <select name="filtro_marca" id="filtro_marca" class="filtros-conteiner">
                <option value="Filtrar por Marca">Filtrar por Marca</option>
                {% for marca in marcas %} 
                <option value="{{marca.nombre}}">{{marca.nombre}}</option>
                {% endfor %}
            </select>
            <button id="btn-aplicar-filtros"> Aplicar Filtro</button>
            <button id="btn-quitar-filtro"> Quitar Filtros </button>
        </section>
        <section class="productos" id="conteiner-productos">
            {% include 'productos/partials/cards.html'%}
        </section>
    </section>
</div>
{% endblock %}
{% block misScripts%} 
    <script src="{%static 'js/productos.js'%}"></script>
{% endblock %}